/* Responsiveness */
@media only screen and (max-width: 1024px) {
  /* body {
    margin: 0;
    display: flex;
  } */
  
  .container {
    margin: 0;
  }
  
  /* .form-input {
    margin: 1rem;
  }
  
  .btn {
    margin: 1rem;
  }
  
  .btn-text {
    color: #fff;
    background-color: #0000ff;
    border: none;
    padding: 0.4rem;
  }
  
  .btn-text:hover{
      color: #fff;
      background-color: #000;
  
  }
  
  #sendBtn {
    font-family: "Gotham Rounded";
  }
  
  .footer-card{
      display: flex;
  }
  
  .icon-text{
      padding-top: 0.7rem;
      margin-right: 1rem;
  }
  
  .footer-mail{
      text-decoration: none;
  } */

}

@media only screen and (max-width: 768px) {
  .container-fluid {
    padding: 0;
    background: black;
    color: #808080;
    /* min-height: 100vh; */
  }

  .navbar-nav ul a {
    font-size: 15px;
    color: #808080;
  }
  .imgWrapper {
    max-width: 200px;
    border-radius: 50%;
  }

  .resumeImg {
    max-width: 300px;
  }
  .name-card {
    display: grid;
    padding: 0;
  }

  .name-card-text {
    font-size: 20px;
    margin: auto;
    padding: 0;
  }

  .name-card-role {
    font-size: 10px;
    /* margin: auto;
    padding: 0; */
  }

  .name-card-img {
    height: 200px;
    width: 200px;
  }
  .about-me-lg {
    padding: 0;
  }
  .about-me-sm {
    width: 350px;
    padding: 0.5rem;
  }

  .about-me-header {
    font-size: 15px;
    margin-bottom: 0;
  }

  .break-text {
    display: none;
  }

  .about-me-text {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }

  .project-header {
    font-size: 15px;
    padding: 0;
  }

  .project-card {
    /* margin: auto; */
    margin-bottom: 1rem;
    /* max-width: 50%; */
  }

  .project-name {
    font-size: 20px;
  }

  .project-text {
    font-size: 10px;
    margin: 0;
  }

  .card-link {
    margin: 0 0.5rem;
  }

  .fa-2x {
    font-size: 1.5em;
  }

  .footer-wrapper {
    margin-top: 10px;

  }

  .footer-text,
  .footer-mail {
    /* margin: auto; */
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {

  .container {
    margin: 0;
  }
}
